.box{
  margin-left: 10%;
  width: 80%;
  text-align: center;
  border: 4px solid #ddd;
}
h2{
  text-align: center;
}
.myCard{
  width: 100%;
  background-color: orange;
}
.popup{
  position: absolute;
  top: 100px;
  left: 900px;
  background-color: white;
  padding: 30px;
  border: solid 3px #ddd;
  border-radius: 5px;
}
